#navigationBar {
    position: fixed;
    top: 4%;
    right: 40%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 0px; 
  }
  
span {
    width: 30%;
    height: 50px;
    flex-grow:1;
}

#home-background{
    position: absolute;
    bottom :5%;
    right: 0px;
    width: 50%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
    
}
p,strong{
    color: #354449;
    text-align: center;
}

button{
    position:absolute;
    bottom: 5%;
    right: 30%;
    width: 250px;
    height: 50px;
    background-color: #354449;
}

#SignUp-text{
    color:#CFC1AB ;
    font-size: 24;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bolder;
}

#top-logo{
    position: fixed;
    bottom: 88%;
    right: 90%;
    width: 70px;
    height: 70px;
}

#top-logo-text{
    font-size: 20px;
    position: fixed;
    bottom: 84%;
    right: 84%;
    width: 100px;
    height: 100px;
}

#home-body{
    position: fixed;
    width: 35%;
    height: 50%;
    right: 53%;
    top: 30%;
}

#important-title{
    position: fixed;
    width: 35%;
    left : 10%;
    top : 20%;
    font-size: 40; 
}

#important-text{
    position: fixed;
    top : 30%;
    left : 11%;
    width: 35%;
    font-size: 18; 
    font-family: Fuzzy Bubbles,cursive;
}

img.arrow {
    width: 50px;
    height: 50px;
}

p.arrow-text{
    font-size: 20px;
    font-weight: bold;
}


#first-arrow{
    position: fixed;
    bottom: 40%;
    right: 87%;
}

#second-arrow{
    position: fixed;
    bottom: 45%;
    right: 87%;
}

#third-arrow{
    position: fixed;
    bottom: 50%;
    right: 87%;

}

#fourth-arrow{
    position: fixed;
    bottom: 55%;
    right: 87%;
}

#first-arrow-text{
    position: fixed;
    bottom: 39%;
    right: 81%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#second-arrow-text{
    position: fixed;
    bottom: 44%;
    right: 79%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#third-arrow-text{
    position: fixed;
    bottom: 49%;
    right: 80%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#fourth-arrow-text{
    position: fixed;
    bottom: 54%;
    right: 80%;
    font-family: 'Fuzzy Bubbles', cursive;
}


#copywrite{
    position: fixed;
    right: 68%;
    bottom: 0.5%;
    font-size: 14px;
}



  