
#navigationBar {
    position: fixed;
    bottom: 850px;
    right: 600px;
    width: 700px;

    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 0px;

  }
  
span {
    width: 180px;
    height: 50px;
    flex-grow:1;
}

#home-background{
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 900px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

}

#signUp-Button{
    position: fixed;
    bottom: 880px;
    right: 0px;
    width: 200px;
    height: 40px;
    background-color: white;
}

#top-logo{
    position: fixed;
    bottom: 850px;
    right: 1800px;
    width: 70px;
    height: 70px;
}

#top-logo-text{
    font-size: 20px;
    position: fixed;
    bottom: 815px;
    right: 1690px;
    width: 100px;
    height: 100px;
}

#home-body{
    position: fixed;
    bottom: 480px;
    right: 1100px;
    width: 500px;
    height: 200px;
}

img.arrow {
    width: 50px;
    height: 50px;
}

p.arrow-text{
    font-size: 20px;
    font-weight: bold;
}


#first-arrow{
    position: fixed;
    bottom: 400px;
}

#second-arrow{
    position: fixed;
    bottom: 350px;
}

#third-arrow{
    position: fixed;
    bottom: 300px;
}

#fourth-arrow{
    position: fixed;
    bottom: 250px;
}

#first-arrow-text{
    position: fixed;
    bottom: 395px;
    right: 1435px;
}

#second-arrow-text{
    position: fixed;
    bottom: 345px;
    right: 1400px;
}

#third-arrow-text{
    position: fixed;
    bottom: 295px;
    right: 1420px;
}

#fourth-arrow-text{
    position: fixed;
    bottom: 245px;
    right: 1420px;
}




  