
#navigationBar {
    position: fixed;
    bottom: 850;
    right: 600;
    width: 700px;

    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 0;

  }
  
span {
    width: 180px;
    height: 50px;
    flex-grow:1;
}

#home-background{
    position: fixed;
    bottom: 20;
    right: 0;
    width: 700px;
}

#signUp-Button{
    position: fixed;
    bottom: 880;
    right: 0;
    width: 200px;
    height: 40px;
    background-color: white;
}

#top-logo{
    position: fixed;
    bottom: 850;
    right: 1800;
    width: 70px;
    height: 70px;
}

#top-logo-text{
    font-size: 20px;
    position: fixed;
    bottom: 815;
    right: 1690;
    width: 100px;
    height: 100px;
}

#home-body{
    position: fixed;
    bottom: 700;
    right: 1100;
    width: 500px;
    height: 200px;
}

img.arrow {
    width: 50px;
    height: 50px;
}

p.arrow-text{
    font-size: 20;
    font-weight: bold;
}


#first-arrow{
    position: fixed;
    bottom: 400;
}

#second-arrow{
    position: fixed;
    bottom: 350;
}

#third-arrow{
    position: fixed;
    bottom: 300;
}

#fourth-arrow{
    position: fixed;
    bottom: 250;
}

#first-arrow-text{
    position: fixed;
    bottom: 395;
    right: 1435;
}

#second-arrow-text{
    position: fixed;
    bottom: 345;
    right: 1400;
}

#third-arrow-text{
    position: fixed;
    bottom: 295;
    right: 1420
}

#fourth-arrow-text{
    position: fixed;
    bottom: 245;
    right: 1420;
}
#home{
    position: fixed;

}



  