#navigationBar {
    position: relative;
    top: 0%;
    right: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 0px; 
  }
  
span {
    width: 30%;
    height: 50px;
    flex-grow:1;
}

#home-background{
    position: fixed;
    right: 0px;
    width: 50%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
    
}
p,strong{
    color: #354449;
    text-align: center;
}
#signUp-Button{
    position: fixed;
    bottom: 13%;
    right: 60%;
    width: 250px;
    height: 50px;
    background-color: #354449;
    border-radius: 5px;
}
#SignUp-text{
    color:#CFC1AB ;
    font-size: 24;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bolder;
}

#top-logo{
    position: fixed;
    bottom: 88%;
    right: 90%;
    width: 70px;
    height: 70px;
}

#top-logo-text{
    font-size: 20px;
    position: fixed;
    bottom: 83%;
    right: 82%;
    width: 100px;
    height: 100px;
}

#home-body{
    position: static;
    right: 39%;
    width: 50%;
    height: 50%;
    left: 10%;
}

img.arrow {
    width: 50px;
    height: 50px;
}

p.arrow-text{
    font-size: 20px;
    font-weight: bold;
}


#first-arrow{
    position: fixed;
    bottom: 20%;
}

#second-arrow{
    position: fixed;
    bottom: 30%;
}

#third-arrow{
    position: fixed;
    bottom: 40%;
}

#fourth-arrow{
    position: fixed;
    bottom: 50%;
}

#first-arrow-text{
    position: fixed;
    bottom: 49%;
    right: 89.5%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#second-arrow-text{
    position: fixed;
    bottom: 39%;
    right: 87%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#third-arrow-text{
    position: fixed;
    bottom: 29%;
    right: 88.5%;
    font-family: 'Fuzzy Bubbles', cursive;
}

#fourth-arrow-text{
    position: fixed;
    bottom: 19%;
    right: 88.5%;
    font-family: 'Fuzzy Bubbles', cursive;
}
#copywrite{
    position: fixed;
    bottom: 0.5%;
    font-size: 14px;
}



  