body {
  align-items: center;
  background-color: #CFC1AB;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.form {
  background-color: #354449;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
	font-family: 'Lobster', cursive;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;

}

.subtitle {
  color: #eee;
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #CFC1AB;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #354449;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #354449;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #EFE9DB;
}

.submit {
  background-color: #6A6B65;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
   outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #EFE9DB;
	color: #354449;
}
#copywrite{
  position: fixed;
  bottom: 0.5%;
  font-size: 14px;
}